#EXTM3U
#EXTINF:-1,.: CHILE :.
http://?
#EXTINF:-1,ATV Valdivia HD
http://wow2.cl.digitalproserver.com/atv/atvvivo/atv.smil/hasbahca.m3u8#MegaIPTVArgentina
#EXTINF:0,Ufrovision HD
http://movilstream.digitalproserver.com/ufro/ufrovivo/ufro.smil/chunklist-b1564000.m3u8
#EXTINF:0,RedTV
http://movilstream.digitalproserver.com:443/redtv/redtvvivo/livestream2/playlist.m3u8
#EXTINF:0,UCV HD
http://movilstream.digitalproserver.com/ucvtv/ucvtv.smil/chunklist-b1248000.m3u8
#EXTINF:0,TVN HD
http://wow3.tvn.cl:1935/liveedge/tvnelemental.smil/chunklist-b1431000.m3u8
#EXTINF:0,TVN
http://wow3.tvn.cl:1935/liveedge/tvnelemental.smil/chunklist-b981000.m3u8
#EXTINF:0,TVN HD-2
http://tvn-vod.mdstrm.com/tvn-live/_definst_/smil:7cb6048ff45cb5cdf7f5fed828597fd1/chunklist_b1500000.m3u8
#EXTINF:0,TVN-2
http://tvn-vod.mdstrm.com/tvn-live/_definst_/smil:7cb6048ff45cb5cdf7f5fed828597fd1/chunklist_b950000.m3u8
#EXTINF:0,Mega HD
http://edge-12-cl.edge.mdstrm.com/live/smil:db6a38a0a2bffd96d01965c4d975b9fb/playlist_b1500.m3u8
#EXTINF:0,Mega
http://edge-12-cl.edge.mdstrm.com/live/smil:db6a38a0a2bffd96d01965c4d975b9fb/playlist_b900.m3u8
#EXTINF:0,CHV HD
http://mi.chv.cl/playlist/stream.m3u8?s=hd
#EXTINF:0,CHV
http://live.hls.http.chv.ztreaming.com/chvhd/chvHi.m3u8
#EXTINF:0,C13 HD
http://13.live.cdn.cl/13hddesktop/13hd-1250.m3u8
#EXTINF:0,C13-2
http://live.hls.http.13.ztreaming.com/13hddesktop/13hd-900.m3u8
#EXTINF:0,C13 Cable
http://cluster.13cmovil.ztreaming.com/13cm/grpz13c/playlist.m3u8
#EXTINF:0,El Pingüino TV
http://streaming.elpinguino.com:1935/live/pinguinotv_360p/chunklist_w194650448.m3u8?MegaIPTVArgentina
#EXTINF:-1,Canal 5 Puerto Montt
http://iphone-streaming.ustream.tv/uhls/16911585/streams/live/iphone/playlist.m3u8
#EXTINF:0,Campus TV 
http://wow2.cl.digitalproserver.com/campustv/campustvvivo/campustv.smil/chunklist_w662421777_b848000.m3u8
#EXTINF:0,Arica TV
http://wow2.cl.digitalproserver.com/aricatv/aricatvvivo/aricatv.smil/chunklist_w725671068_b848000.m3u8
#EXTINF:-1,Uoct
http://mdstrm.com/live-stream-playlist-v/53443c472c6e89675103cc4c.m3u8
#EXTINF:-1,Uoct
http://mdstrm.com/live-stream-playlist-v/53443c472c6e89675103cc4c.m3u8
#EXTINF:0, CampusTV HD U.Talca
http://movilstream.digitalproserver.com/campustv/campustvvivo/livestream1/playlist.m3u8
#EXTINF:0, Ufrovision HD
http://movilstream.digitalproserver.com/ufro/ufrovivo/ufro.smil/chunklist-b1564000.m3u8
#EXTINF:0, AntofagastaTV HD
http://wow2.cl.digitalproserver.com/atv/atvvivo/atv.smil/chunklist_w949479730_b2200000.m3u8
#EXTINF:0, ETC TV
http://movilstream.digitalproserver.com/etctv/etctvvivo/livestream1/playlist.m3u8
#EXTINF:0, Canal 9 BioBioTV HD
http://wow2.cl.digitalproserver.com/c9/livestream1/chunklist_w983075885.m3u8
#EXTINF:0, Canal 9 BioBioTV
http://wow2.cl.digitalproserver.com/c9/livestream2/chunklist_w1784656167.m3u8
#EXTINF:0, TVU Concepcion HD
http://movilstream.digitalproserver.com/tvu/tvuvivo/livestream1/playlist.m3u8
#EXTINF:0, ITV HD Punta Arenas
http://wow2.cl.digitalproserver.com/itv/itvvivo/livestream1/playlist.m3u8
#EXTINF:0, Holvoet HD Copiapo
http://movilstream.digitalproserver.com/holvoet/holvoetvivo/holvoet.smil/chunklist-b1248000.m3u8
#EXTINF:0, Holvoet Copiapo
http://movilstream.digitalproserver.com/holvoet/holvoetvivo/holvoet.smil/chunklist-b848000.m3u8
#EXTINF:0, Contivision HD
http://wow2.cl.digitalproserver.com/contivisionhd/contivisionhdvivo/contivisionhd.smil/chunklist_w1162159593_b1496000.m3u8
#EXTINF:0, Contivision
http://wow2.cl.digitalproserver.com/contivisionhd/contivisionhdvivo/contivisionhd.smil/chunklist_w1162159593_b796000.m3u8
#EXTINF:0, RecTV
http://13rec.movil.ztreaming.com/13rec/13rec/playlist.m3u8
#EXTINF:-1, UCV Satelital
http://wowzacontrol.net:1935/8050/8050/playlist.m3u8
#EXTINF:-1,QuintaVision Viña del Mar
http://iphone-streaming.ustream.tv/uhls/2950729/streams/live/iphone/playlist.m3u8
#EXTINF:-1,Canal 5 Linares
rtmp://v1.streaminglatinoamerica.com/canal5/canal5
#EXTINF:-1,Arica TV
http://wow2.cl.digitalproserver.com/aricatv/aricatvvivo/aricatv.smil/chunklist_w725671068_b848000.m3u8
#EXTINF:-1,TVO San Vicente
http://movilstream.digitalproserver.com/tvo/tvovivo/livestream/playlist.m3u8
#EXTINF:-1,Tv 4 Lota
http://190.107.176.167:1935/live/tv4-television/playlist.m3u8?MegaIPTVArgentina


#EXTINF:0,--Cable--
http://?
#EXTINF:-1,Deutsche Welle
http://www.metafilegenerator.de/DWelle/tv-latinoamerica/ios/master.m3u8
#EXTINF :-1, MEGA HD ESPAÑA
http://a3live-lh.akamaihd.net/i/mega/megageo_1@328914/index_4_av-b.m3u8
#EXTINF:-1,Ultra Cine 
http://vemoxhlslive-i.akamaihd.net/hls/live/219940/vemoxchannel1/iOS/vemoxchannel1@219940/stream2/streamPlaylist.m3u8
#EXTINF :-1,PELÍCULAS HD LATINO
http://iphone-streaming.ustream.tv/uhls/18654330/streams/live/iphone/playlist.m3u8
#EXTINF :-1, PELÍCULAS DE COMEDIA
http://flv11.moevideo.net/flv7/tYBScdwFrfwsX2C-_Ajo3A==/api__tVL0gjqo5/35768123_3917650273default/57561.5fe52ae28c0dd567293e9bbd53b6/d3c8281b9d3083fceb9438d515e4dbca_3917650273_g3th412d(lat).mkv.flv?vtype=1
#EXTINF:-1,Peliculas
http://iphone-streaming.ustream.tv/uhls/18654330/streams/live/iphone/playlist.m3u8?
#EXTINF :-1,PELIS ESPAÑOL
http://iphone-streaming.ustream.tv/uhls/18654330/streams/live/iphone/playlist.m3u8
#EXTINF :-1, MEGA PELICULAS
http://iphone-streaming.ustream.tv/uhls/18654330/streams/live/iphone/playlist.m3u8?=-1
#EXTINF:0,La Sexta HD
http://a3live-lh.akamaihd.net/i/lasexta_1@35272/index_4_av-b.m3u8
#EXTINF :-1,ANIME TV LATINO
http://video7.stream.mx:1935/raxatv/raxatv/chunklist_w884577146.m3u8?monclovacaliente.m3u8
#EXTINF:-1,Teleantioquia HD
http://hlslive.lcdn.une.net.co/v1/AUTH_HLSLIVE/TANT/tu1_1.m3u8?
#EXTINF:0,Canal de las Estrellas HD
http://tvsawpdvr-lh.akamaihd.net/i/stch02wp_1@119660/index_1048_av-b.m3u8
#EXTINF:0,RTVE 24H
http://iphonelive.rtve.es/24H_LV3_IPH/bitrate_2.m3u8
#EXTINF:0,RT Español HD
http://rt-a.akamaihd.net/ch_02@325606/720p.m3u8
#EXTINF:0,HispanTV
http://ptv04.level3.hls.live.cdn.overon.es/02.m3u8
#EXTINF:0,TVE 24 Horas
http://iphonelive.rtve.es/24H_LV3_IPH/bitrate_2.m3u8
#EXTINF:-1,Proyecto 40
http://urtmpkal-f.akamaihd.net/i/05i15qzql_1@149710/index_2_av-p.m3u8
#EXTINF:0,CANAL+ HD
http://212.51.156.151:3015
#EXTINF:0,D+ Calle 13
http://iptv4.is-certified.com:8000/live/vincenzo/vincenzo/1363.ts
#EXTINF:0,ATV HD
http://edge-41-us.edge.mdstrm.com/live/smil:c23b8a0a21d215482b4c2703e47f675a/playlist_b1500.m3u8
#EXTINF:0,Canal 26 HD
http://live-edge01.telecentro.net.ar/live/26hd-720/playlist.m3u8
#EXTINF:0,Telemax
http://live-edge01.telecentro.net.ar/live/smil:tlx.smil/chunklist_w60428252_b1028000_sleng.m3u8
#EXTINF:0,Orbe 21
http://urtmpkal-f.akamaihd.net/i/1b6mj17sk_1@308700/index_1_av-p.m3u8
#EXTINF:0,Antena 3 HD
http://antena3-aos1-apple-live.adaptive.level3.net/apple/antena3/channel01/antena_3_hd_1548K_1280x720_main.m3u8
#EXTINF:-1,.: ALEMANIA :.
#EXTINF:-1,Das Neue TV
http://lb.hd-livestream.de/live/DasneueTV/chunklist_w1995293930.m3u8
#EXTINF:-1,Family TV HD
http://83.169.58.38:1935/live/Stream3/chunklist_w1828558504.m3u8
#EXTINF:-1,Alex Berlin^
http://alex-stream.rosebud-media.de/live/alexlivetv.smil/chunklist_w356398679_b540000_slGER.m3u8
#EXTINF:-1,München TV GERMANY
http://muenchentv.iptv-playoutcenter.de:1935/muenchentv/muenchentv.stream_2/.m3u8
#EXTINF:-1 group-title="Musical",.: DEPORTES :.
http://?
#EXTINF:-1,CDF Premium
http://209.133.208.194:1935/app/futbolchilenet2s-channel/playlist.m3u8
#EXTINF:0,CDO HD
http://movilstream.digitalproserver.com/cdo/cdovivo/cdo.smil/chunklist-b1064000.m3u8
#EXTINF:0,ES : FOX Sporm3u8 HD
http://iptvservice.ddns.net:8000/live/yannis/yannis/2317.m3u8
#EXTINF:0,ES : FOX Sporm3u8 2 HD
http://iptvservice.ddns.net:8000/live/yannis/yannis/2318.m3u8
#EXTINF:0,CTH Stadium 1
http://27.254.149.79/vit2/stadium1new.stream/playlist.m3u8
#EXTINF:0,CTH Stadium 2
http://27.254.149.79/vit2/stadium2new.stream/playlist.m3u8
#EXTINF:0,CTH Stadium 3
http://27.254.149.79/vit2/stadium3new.stream/playlist.m3u8
#EXTINF:0,CTH Stadium 4
http://27.254.149.79/vit2/stadium4new.stream/playlist.m3u8
#EXTINF:0,CTH Stadium 5
http://27.254.149.79/vit2/stadium5new.stream/playlist.m3u8
#EXTINF:0,TDN
http://31.220.41.111:80/LiveEdgeTesting/_definst_/TDNMXLA/playlist.m3u8?token=
#EXTINF:-1,REAL MADRID TV
http://rmtvlive-lh.akamaihd.net/i/rmtv_1@154306/index_1250_av-b.m3u8?sd=10&rebase=on
#EXTINF:-1,MANCHESTER CITY TV HD
http://tv-tikilive-hls-live.hls.adaptive.level3.net/hls/122.m3u8
#EXTINF:-1, SPORT TV AMERICAS
http://sporttvamericas-i.akamaihd.net/hls/live/222316/sportTV/mastersportTV_1300kbps.m3u8
#EXTINF:-1, SPORT TV
http://www.djing.com/tv/hothothot.m3u8
#EXTINF:-1,DUBAI SPORTS
http://dmivll.mangomolo.com/dubaisports/smil:dubaisports.smil/playlist.m3u8
#EXTINF:-1,SUPERLIGSPOR
http://5.196.123.19:8082/superlig
#EXTINF:-1,EUROSPORT 1 FR
http://esioslive6-i.akamaihd.net/hls/live/202892/AL_P_ESP1_FR_FRA/playlist_1800.m3u8
#EXTINF:-1,Eurosport 1 ENG
http://esioslive6-i.akamaihd.net/hls/live/202874/AL_P_ESP1_INTER_ENG/playlist_1000.m3u8
#EXTINF:-1,CDN Sports
http://108.168.206.90:1935/cdnsm/cdnsm/playlist.m3u8
#EXTINF:-1,.: MUSICALES :.
http://?
#EXTINF:0,VEVO 1 HD Pop
http://vevoplaylist-live.hls.adaptive.level3.net/vevo/ch1/05/prog_index.m3u8
#EXTINF:-1,USA:VEVO HD 
http://vevoplaylist-live.hls.adaptive.level3.net/vevo/ch1/appleman.m3u8
#EXTINF:-1,Canal 12 Valledupar
http://panelhdstream.com:1935/8022/8022/playlist.m3u8#GerardoLoyolaIPTV
#EXTINF:0, First Music HD 1080p
http://109.239.142.62:1935/live/livestream1/playlist.m3u8
#EXTINF:0, First Music HD 720p
http://109.239.142.62:1935/live/hlsstream/playlist2.m3u8
#EXTINF:0, First Music HD 480p
http://109.239.142.62:1935/live/livestream3/playlist.m3u8
#EXTINF:-1,1HD
http://iphone-streaming.ustream.tv/uhls/17248101/streams/live/iphone/playlist.m3u8
#EXTINF:-1,ESTUDIO TV
rtmp://190.107.176.167:1935/live/estudio-tv
#EXTINF:-1,DANCE TV
http://87.239.31.232/hls/230.3.4.169.sd.stream.m3u8
#EXTINF:-1,MTV ROCKS
http://hlsstr02.svc.iptv.rt.ru/hls/CH_MTVROCKS/variant.m3u8
#EXTINF:-1,Kiss tv
rtmp://tst.es.flash.glb.ipercast.net/tst.es-live/live
#EXTINF:-1,Q Musica
mms://200.42.92.6:1755/qmusica
#EXTINF:-1,Duna
http://wow1.dallas.digitalproserver.com/dunatv/dunatvvivo/dunatv.smil/playlist.m3u8
#EXTINF:-1,Tiempo
http://movilstream.digitalproserver.com/tiempotv/tiempotvvivo/tiempotv.smil/playlist.m3u8
#EXTINF:-1,Zero
http://movilstream.digitalproserver.com/zerotv/zerotvvivo/zerotv.smil/playlist.m3u8
#EXTINF:-1,Radio la clave
http://movilstream.digitalproserver.com/laclavetv/laclavetvvivo/laclavetv.smil/playlist.m3u8
#EXTINF:-1,Vevo1 HD
http://vevoplaylist-live.hls.adaptive.level3.net/vevo/ch1/05/prog_index.m3u8
#EXTINF:-1,Vevo2 HD
http://vevoplaylist-live.hls.adaptive.level3.net/vevo/ch2/05/prog_index.m3u8
#EXTINF:-1,Vevo3 HD
http://vevoplaylist-live.hls.adaptive.level3.net/vevo/ch3/05/prog_index.m3u8
#EXTINF:-1,.:PELICULAS :.
http://?
#EXTINF:-1,CHAPIEE
http://www.spruto.tv/get_file/5/c0e48113fc2ef52a45381d909a729b4a/116000/116862/116862.mp4
EXTINF:-1,MUERTE EN BUENOS AIRES
http://www.spruto.tv/get_file/1/23371c1d4bf35de3ca1f9eee7224f978/86000/86331/86331.mp4
#EXTINF:-1,EL CONJURO
http://www.spruto.tv/get_file/1/b980284784017250b9b0c826b104656a/86000/86338/86338.mp4
#EXTINF:-1,ANARCHY
http://www.spruto.tv/get_file/1/823c0398a19c7448dd05bc165b0fe728/86000/86363/86363.mp4
#EXTINF:-1,TURBO
http://www.spruto.tv/get_file/1/ed06b3932c73f428a3093371b1c84f85/86000/86337/86337.mp4
#EXTINF:-1,LA PEOR NOCHE DE MI VIDA
http://www.spruto.tv/get_file/1/55492527a1a728e61205e2b5f0dd6f7e/86000/86335/86335.mp4
#EXTINF:-1,TORTUGAS NINJAS 2014
http://www.spruto.tv/get_file/1/fa178b0eeee2729787cc80262308ee53/86000/86327/86327.mp4
#EXTINF:-1,EL EXSORCISTA
http://www.spruto.tv/get_file/1/dd94ec691a5fdda0761ab47fab5ec2fa/84000/84913/84913.mp4
#EXTINF:-1,LA ULTIMA Y NOS VAMOS
http://www.spruto.tv/get_file/5/b6cb2e3540e1f274c334f36ae1e35810/116000/116354/116354.mp4
#EXTINF:-1,MENTES PELIGROSAS
https://ia600309.us.archive.org/34/items/b1fb1b3745.360/b1fb1b3745.360.mp4
#EXTINF:-1,FRANCOTIRADOR
https://ia600309.us.archive.org/0/items/FRCNTDR/FRCNTDR.mp4
#EXTINF:-1,INDESTRUCTIBLES 3
https://ia600309.us.archive.org/4/items/industructibles/I%C3%91D3TRUC3.mp4
#EXTINF:-1,FOCUS
https://ia600309.us.archive.org/21/items/hemelgelvez4_gmail_FCS/FCS.mp4
#EXTINF:-1,RESUCITADOS
https://ia800309.us.archive.org/21/items/1esucitados./1esucitados..mp4
#EXTINF:-1,ROBOCOP
https://ia601507.us.archive.org/33/items/4obocop./4obocop..mp4
#EXTINF:-1,DESTINO JUPITER
https://ia600309.us.archive.org/17/items/D3T1N0JUT3R/D3T1N0%20JUT3R.mp4
#EXTINF:-1,ALADDIN
http://www.spruto.tv/get_file/1/38577f19393369cb2c5d785beb3c3ffc/80000/80730/80730.mp4
#EXTINF:-1,ALADDIN 2 EL RETORNO DE JAFAR
http://www.spruto.tv/get_file/5/b66d5c46890169c4100a2d1efdc8c45c/110000/110198/110198.mp4
