#EXTM3U
#EXTINF:-1 tvg-name="updt" tvg-logo="upd.png", 
http://?
#EXTINF:-1 group-title="Chile",.: CHILE :.
http://?
#EXTINF:0,Ufrovision HD
http://movilstream.digitalproserver.com/ufro/ufrovivo/ufro.smil/chunklist-b1564000.m3u8
#EXTINF:0, RedTV
http://movilstream.digitalproserver.com:443/redtv/redtvvivo/livestream2/playlist.m3u8
#EXTINF:0, UCV HD
http://movilstream.digitalproserver.com/ucvtv/ucvtv.smil/chunklist-b1248000.m3u8
#EXTINF:0, TVN HD
http://wow3.tvn.cl:1935/liveedge/tvnelemental.smil/chunklist-b1431000.m3u8
#EXTINF:0, TVN
http://wow3.tvn.cl:1935/liveedge/tvnelemental.smil/chunklist-b981000.m3u8
#EXTINF:0, TVN HD-2
http://tvn-vod.mdstrm.com/tvn-live/_definst_/smil:7cb6048ff45cb5cdf7f5fed828597fd1/chunklist_b1500000.m3u8
#EXTINF:0, TVN-2
http://tvn-vod.mdstrm.com/tvn-live/_definst_/smil:7cb6048ff45cb5cdf7f5fed828597fd1/chunklist_b950000.m3u8
#EXTINF:0, Mega HD
http://edge-12-cl.edge.mdstrm.com/live/smil:db6a38a0a2bffd96d01965c4d975b9fb/playlist_b1500.m3u8
#EXTINF:0, Mega
http://edge-12-cl.edge.mdstrm.com/live/smil:db6a38a0a2bffd96d01965c4d975b9fb/playlist_b900.m3u8
#EXTINF:0, CHV HD
http://mi.chv.cl/playlist/stream.m3u8?s=hd
#EXTINF:0, CHV
http://live.hls.http.chv.ztreaming.com/chvhd/chvHi.m3u8
#EXTINF:0, C13 HD
http://13.live.cdn.cl/13hddesktop/13hd-1250.m3u8
#EXTINF:0, C13-2
http://live.hls.http.13.ztreaming.com/13hddesktop/13hd-900.m3u8
#EXTINF:0, C13 Cable
http://cluster.13cmovil.ztreaming.com/13cm/grpz13c/playlist.m3u8
#EXTINF:0,El Pingüino TV
http://streaming.elpinguino.com:1935/live/pinguinotv_360p/chunklist_w194650448.m3u8?MegaIPTVArgentina
#EXTINF:0,Campus TV 
http://wow2.cl.digitalproserver.com/campustv/campustvvivo/campustv.smil/chunklist_w662421777_b848000.m3u8
#EXTINF:0,Arica TV
http://wow2.cl.digitalproserver.com/aricatv/aricatvvivo/aricatv.smil/chunklist_w725671068_b848000.m3u8
#EXTINF:-1,Uoct
http://mdstrm.com/live-stream-playlist-v/53443c472c6e89675103cc4c.m3u8
#EXTINF:-1,Uoct
http://mdstrm.com/live-stream-playlist-v/53443c472c6e89675103cc4c.m3u8
#EXTINF:0, CampusTV HD U.Talca
http://movilstream.digitalproserver.com/campustv/campustvvivo/livestream1/playlist.m3u8
#EXTINF:0, Ufrovision HD
http://movilstream.digitalproserver.com/ufro/ufrovivo/ufro.smil/chunklist-b1564000.m3u8
#EXTINF:0, AntofagastaTV HD
http://wow2.cl.digitalproserver.com/atv/atvvivo/atv.smil/chunklist_w949479730_b2200000.m3u8
#EXTINF:0, ETC TV
http://movilstream.digitalproserver.com/etctv/etctvvivo/livestream1/playlist.m3u8
#EXTINF:0, Canal 9 BioBioTV HD
http://wow2.cl.digitalproserver.com/c9/livestream1/chunklist_w983075885.m3u8
#EXTINF:0, Canal 9 BioBioTV
http://wow2.cl.digitalproserver.com/c9/livestream2/chunklist_w1784656167.m3u8
#EXTINF:0, TVU Concepcion HD
http://movilstream.digitalproserver.com/tvu/tvuvivo/livestream1/playlist.m3u8
#EXTINF:0, ITV HD Punta Arenas
http://wow2.cl.digitalproserver.com/itv/itvvivo/livestream1/playlist.m3u8
#EXTINF:0, Holvoet HD Copiapo
http://movilstream.digitalproserver.com/holvoet/holvoetvivo/holvoet.smil/chunklist-b1248000.m3u8
#EXTINF:0, Holvoet Copiapo
http://movilstream.digitalproserver.com/holvoet/holvoetvivo/holvoet.smil/chunklist-b848000.m3u8
#EXTINF:0, Contivision HD
http://wow2.cl.digitalproserver.com/contivisionhd/contivisionhdvivo/contivisionhd.smil/chunklist_w1162159593_b1496000.m3u8
#EXTINF:0, Contivision
http://wow2.cl.digitalproserver.com/contivisionhd/contivisionhdvivo/contivisionhd.smil/chunklist_w1162159593_b796000.m3u8
#EXTINF:0, RecTV
http://13rec.movil.ztreaming.com/13rec/13rec/playlist.m3u8
#EXTINF:-1, UCV Satelital
http://wowzacontrol.net:1935/8050/8050/playlist.m3u8
#EXTINF:-1,QuintaVision Viña del Mar
http://iphone-streaming.ustream.tv/uhls/2950729/streams/live/iphone/playlist.m3u8
#EXTINF:-1,Canal 5 Linares
rtmp://v1.streaminglatinoamerica.com/canal5/canal5
#EXTINF:-1,Arica TV
http://wow2.cl.digitalproserver.com/aricatv/aricatvvivo/aricatv.smil/chunklist_w725671068_b848000.m3u8

#EXTINF:0,--Cable--
http://separador.m3u
#EXTINF:0,CINE DINAMITA
http://31.220.40.100:80/LiveEdge/CineDinamitaLA/chunklist_w1950898583_b1000000.m3u8?token=dc5f8ca889b70ff936ab605ce9b3f944
#EXTINF:0,CINE LATINO
http://31.220.40.118:80/LiveEdge/CineLatinoSD/chunklist_w2030078851_b1000000.m3u8?token=93fb8f2ed117bbabb123cea62e3a610d
#EXTINF:0,GOLDEN HD
http://31.220.40.117:80/LiveEdge/GoldenHD/chunklist_w1337545532_b1000000.m3u8?token=067f4fcf7beb72f70f67eaffd45e7b07
#EXTINF:0,GOLDEN MULTIPLEX
http://31.220.41.103:80/LiveEdge/GoldenMPLXLA/chunklist_w1153755148_b1000000.m3u8?token=04ed2249a371fc71e9be4d044d08b38c
#EXTINF:0,GOLDEN EDGE
http://31.220.40.118:80/LiveEdge/GoldenEdgeLA/chunklist_w390123646_b1000000.m3u8?token=1c9f6247c157bcca05f47508d8e2c557
#EXTINF:0,GOLDEN PREMIER
http://31.220.40.115:80/LiveEdge/GoldenPremier1LA/chunklist_w1648462005_b1000000.m3u8?token=f98b09ee42d46bf322591e6eee114567
#EXTINF:0,SUNDANCE CHANNEL
http://31.220.40.118:80/LiveEdge/SundanceLA/chunklist_w1400460647_b1000000.m3u8?token=27dd8536d1cb5320e1b1faffd35d3eff
#EXTINF:0,CINE CANAL
http://31.220.40.100:80/LiveEdge/CineCanalLA/chunklist_w1722003788_b1000000.m3u8?token=e4d1c1192e4d920c408d19aa19e7228a
#EXTINF:0,CINE MAX
http://31.220.40.121:80/LiveEdge/CinemaxLASD/chunklist_w1573812868_b1000000.m3u8?token=d2f28570f270a9d7009d28fc4daaba19
#EXTINF:0,FOX Comedy
http://31.220.41.111:80/LiveEdge/FOXComedyLASD/chunklist_w899729133_b1000000.m3u8?token=5b8eac826c19df63f411e115d082df8e
#EXTINF:-1,PELICULAS
http://iphone-streaming.ustream.tv/uhls/18654330/streams/live/iphone/playlist.m3u8?
#EXTINF:0,ATV HD
http://edge-41-us.edge.mdstrm.com/live/smil:c23b8a0a21d215482b4c2703e47f675a/playlist_b1500.m3u8
#EXTINF:0,Canal 26 HD
http://live-edge01.telecentro.net.ar/live/26hd-720/playlist.m3u8
#EXTINF:0,Telemax
http://live-edge01.telecentro.net.ar/live/smil:tlx.smil/chunklist_w60428252_b1028000_sleng.m3u8
#EXTINF:0,Orbe 21
http://urtmpkal-f.akamaihd.net/i/1b6mj17sk_1@308700/index_1_av-p.m3u8
#EXTINF:0,Canal de las Estrellas HD
http://tvsawpdvr-lh.akamaihd.net/i/stch02wp_1@119660/index_1048_av-b.m3u8
#EXTINF:0,Antena 3 HD
http://antena3-aos1-apple-live.adaptive.level3.net/apple/antena3/channel01/antena_3_hd_1548K_1280x720_main.m3u8
#EXTINF:0,RTVE 24H
http://iphonelive.rtve.es/24H_LV3_IPH/bitrate_2.m3u8
#EXTINF:0,RT Espanol HD
http://rt-a.akamaihd.net/ch_02@325606/720p.m3u8
#EXTINF:0,HispanTV
http://ptv04.level3.hls.live.cdn.overon.es/02.m3u8
#EXTINF:0, VIVE
mms://difusion.cantv.net/vhost-covetel_live
#EXTINF:0,MEGA HD
http://a3live-lh.akamaihd.net/i/mega/megageo_1@328914/index_4_av-b.m3u8
#EXTINF:0,AmericaTV HD
http://live-edge01.telecentro.net.ar/live/amrchd-720/playlist.m3u8
#EXTINF:-1,PROYECTO 40
http://urtmpkal-f.akamaihd.net/i/05i15qzql_1@149710/index_2_av-p.m3u8
#EXTINF:0,La Sexta HD
http://a3live-lh.akamaihd.net/i/lasexta_1@35272/index_4_av-b.m3u8
#EXTINF:-1,History Channel
http://live.mvdigital.net:1935/live10/livestream1.sdp/playlist.m3u8
http://ooyalahd2-f.akamaihd.net/i/americatv_delivery@25405/index_1728_av-p.m3u8
#EXTINF:-1,Latino Ultra Cine HD 720
http://vemoxhlslive-i.akamaihd.net/hls/live/219940/vemoxchannel1/iOS/vemoxchannel1@219940/index.m3u8
#EXTINF:0,TVE 24 Horas
http://iphonelive.rtve.es/24H_LV3_IPH/bitrate_2.m3u8
#EXTINF:0,anime en español
http://video7.stream.mx:1935/raxatv/raxatv/chunklist_w884577146.m3u8?monclovacaliente.m3u8
#EXTINF:0,DW
http://www.metafilegenerator.de/DWelle/tv-latinoamerica/ios/master.m3u8?
#EXTINF:-1,History Channel
http://live.mvdigital.net:1935/live10/livestream1.sdp/playlist.m3u8
#EXTINF:-1,CDN Sports
http://108.168.206.90:1935/cdnsm/cdnsm/playlist.m3u8
#EXTINF:0,CDO HD
http://movilstream.digitalproserver.com/cdo/cdovivo/cdo.smil/chunklist-b1064000.m3u8
#EXTINF:0,ESPN HD
http://cdn5.iviplanet.com:1935/CITYTV-TO/myStream.sdp/playlist.m3u8
#EXTINF:0,Fox Sports
http://cdn5.iviplanet.com:1935/TELEPACIFICO-TO/myStream.sdp/playlist.m3u8
#EXTINF:0,GolTV USA 1080p
http://goltv-stream.fubotv.com.global.prod.fastly.net/UT-Origin/ngrp:golTV_all/chunklist_b3596000.m3u8
#EXTINF:0,GolTV USA 720p
http://goltv-stream.fubotv.com.global.prod.fastly.net/UT-Origin/ngrp:golTV_all/chunklist_b1596000.m3u8
#EXTINF:0,GolTV USA 480p
http://goltv-stream.fubotv.com.global.prod.fastly.net/UT-Origin/ngrp:golTV_all/chunklist_b596000.m3u8
#EXTINF:0,BeIN Sport 1
http://streamindo.ddns.net/jhos/beib1_3/streamindo/playlist.m3u8
#EXTINF:0,BeIN Sport 2 
http://streamindo.ddns.net/jhos/beib2_3/streamindo/playlist.m3u8
#EXTINF:0,Azteca 7 HD Deportes
http://aztecalive-lh.akamaihd.net/i/0sa0dg2r9_1@167681/index_3_av-b.m3u8
#EXTINF:0,Azteca 7 Deportes
http://aztecalive-lh.akamaihd.net/i/0sa0dg2r9_1@167681/index_2_av-b.m3u8



#EXTINF:-1 group-title="Musical",.: MUSICALES :.
http://?
#EXTINF:0,VEVO 1 HD Pop
http://vevoplaylist-live.hls.adaptive.level3.net/vevo/ch1/05/prog_index.m3u8
#EXTINF:-1,USA:VEVO HD 
http://vevoplaylist-live.hls.adaptive.level3.net/vevo/ch1/appleman.m3u8
#EXTINF:-1,Canal 12 Valledupar
http://panelhdstream.com:1935/8022/8022/playlist.m3u8#GerardoLoyolaIPTV
#EXTINF:0, First Music HD 1080p
http://109.239.142.62:1935/live/livestream1/playlist.m3u8
#EXTINF:0, First Music HD 720p
http://109.239.142.62:1935/live/hlsstream/playlist2.m3u8
#EXTINF:0, First Music HD 480p
http://109.239.142.62:1935/live/livestream3/playlist.m3u8
#EXTINF:-1,1HD
http://iphone-streaming.ustream.tv/uhls/17248101/streams/live/iphone/playlist.m3u8
#EXTINF:-1,ESTUDIO TV
rtmp://190.107.176.167:1935/live/estudio-tv
#EXTINF:-1,DANCE TV
http://87.239.31.232/hls/230.3.4.169.sd.stream.m3u8
#EXTINF:-1,MTV ROCKS
http://hlsstr02.svc.iptv.rt.ru/hls/CH_MTVROCKS/variant.m3u8
#EXTINF:-1,Kiss tv
rtmp://tst.es.flash.glb.ipercast.net/tst.es-live/live
#EXTINF:-1,Q Musica
mms://200.42.92.6:1755/qmusica
#EXTINF:-1,Duna
http://wow1.dallas.digitalproserver.com/dunatv/dunatvvivo/dunatv.smil/playlist.m3u8
#EXTINF:-1,Tiempo
http://movilstream.digitalproserver.com/tiempotv/tiempotvvivo/tiempotv.smil/playlist.m3u8
#EXTINF:-1,Zero
http://movilstream.digitalproserver.com/zerotv/zerotvvivo/zerotv.smil/playlist.m3u8
#EXTINF:-1,Radio la clave
http://movilstream.digitalproserver.com/laclavetv/laclavetvvivo/laclavetv.smil/playlist.m3u8
#EXTINF:-1,Vevo1 HD
http://vevoplaylist-live.hls.adaptive.level3.net/vevo/ch1/05/prog_index.m3u8
#EXTINF:-1,Vevo2 HD
http://vevoplaylist-live.hls.adaptive.level3.net/vevo/ch2/05/prog_index.m3u8
#EXTINF:-1,Vevo3 HD
http://vevoplaylist-live.hls.adaptive.level3.net/vevo/ch3/05/prog_index.m3u8

#EXTINF:-1 group-title="adultos xxx",.: ADULTOS XXX :.
http://?
#EXTINF:-1,PRIVATE
http://178.33.126.213:1935/leved/privateCom/.m3u8
#EXTINF:-1,Russian Night
http://hlsstr01.svc.iptv.rt.ru/hls/CH_RUSSIANNIGHT/variant.m3u8?version=2
#EXTINF:-1,O-La-La
http://hlsstr04.svc.iptv.rt.ru/hls/CH_OLALA/variant.m3u8?version=2
#EXTINF:-1,XXX
http://wowza1.videos.movile.com:8080/live/smil:adulto_1.smil/playlist.m3u8
#EXTINF:-1,XXL
http://hlsstr01.svc.iptv.rt.ru/hls/CH_XXL/variant.m3u8?version=2
#EXTINF:-1,BLUE HUSTLER
http://hlsstr04.svc.iptv.rt.ru/hls/CH_BLUEHUSTLER/variant.m3u8?version=2
#EXTINF:-1,PlayBoy
http://hlsstr04.svc.iptv.rt.ru/hls/CH_PLAYBOY/variant.m3u8?version=2
#EXTINF:-1,JASMIN TV
http://109.71.162.112:1935/live/sd.jasminchannel.stream/PAZ_Chega_de_Guerras.m3u8
#EXTINF:-1,xxx
http://playback.d2see.com:1935/wavemachine-live01/_definst_/mp4:playboytv_channel1/chunklist_w550654983.m3u8
#EXTINF:-1,LIVE SEX
http://178.33.126.213:1935/leved/livesexlatinas/chunklist.m3u8?
#EXTINF:-1,Babestation
http://46.105.116.159:1935/cellcast/encoder22/.m3u8
#EXTINF:-1,Babestation Blue
http://178.33.126.213:1935/cellcast/encoder32/.m3u8
#EXTINF:-1,Babestation Unleashed 2
http://178.33.126.213:1935/iptv_cellcast_24/livestream_two2/.m3u8
#EXTINF:-1,BABES SPORTING
http://stream02.yamgo.com/iPhone/broadcast/babe_spotting-tablet.3gp/babe_spotting-tablet.3gp-mr648k.m3u8
#EXTINF:-1,HOT SHOTS
http://46.249.213.93/iPhone/HLS_TS/broadcast/hotshots-tablet.3gp/hotshots-tablet.3gp-mr649k.m3u8
#EXTINF:-1,HOT SHOTS BEACH
http://stream02.yamgo.com/iPhone/broadcast/hot_shots_beach_babes-tablet.3gp/hot_shots_beach_babes-tablet.3gp-mr646k.m3u8
#EXTINF:-1,BELLA CLUB
http://stream01.yamgo.com/iPhone/broadcast/bella_club_luz-tablet.3gp/bella_club_luz-tablet.3gp-mr647k.m3u8
#EXTINF:-1,DIVA LITE
http://stream02.yamgo.com/iPhone/broadcast/you_diva_lite-tablet.3gp/you_diva_lite-tablet.3gp-mr657k.m3u8
#EXTINF:-1,HOT 100
http://stream02.yamgo.com/iPhone/HLS_TS/broadcast/hot_100-tablet.3gp/hot_100-tablet.3gp-mr647k.m3u8
#EXTINF:-1,Power Girls TV
http://46.249.213.93/iPhone/broadcast/powergirls-tablet.3gp/powergirls-tablet.3gp-mr648k.m3u8
#EXTINF:-1,ASIA1
http://59.120.43.181:8081
